.chat-page {
    max-width: 1400px;
    /* padding: 0 20px; */
    margin: 0 auto;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.chat-right-side {
    border-radius: 10px;
    max-width: 400px;
    width: 17%;
    padding: 10px;
    box-shadow: var(--profileShadow);
}

.middle-side {
    max-width: 800px;   
    width: 55%;
    /* padding-top: 20px; */
}

.chat-item {
    cursor: pointer;
    transition: all 0.3 ease;
}

.chat-item:hover {
    transform: scale(1.05);
}